
@{
    ViewData["Title"] = "LoadPartialOverGetMethod";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>LoadPartialOverGetMethod</h1>

<p>Sample1: Rendering via jQuery</p>
<div id="partialviews">
    <!-- Inerhalb dieses Divs wird die PartialView via jQuery geladen-->
</div>

<p>Sample2: Rendering via Ajax</p>
<div id="partialviews2">
    <!-- Inerhalb dieses Divs wird die PartialView via jQuery geladen-->
</div>



<p>Diese Partial View wurde über die Controller.Methode OnGetPartial gerendert</p>
@Html.ActionLink("Zeige weitere PartialView an", "OnGetMyPartial", "PartialViewSamples");

<button type="button" id="button1">Load Partial View</button>

<div id="div1"></div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/jscript">
    //$(document).ready(function () {
    //    $("#partialviews").load('/PartialViewSamples/OnGetMyPartial');
    //});

    $("#button1").on("click", function () {
        $("#div1").load("/PartialViewSamples/OnGetMyPartial");
    });
</script>




@*<script>
        $(document).ready(function () {

            $("#button1").click(function () {
                $("#div1").load("/PartialViewSamples/OnGetMyPartial");
            });

        });
    </script>*@

