
@{
    ViewData["Title"] = "ViewBagViewDataSample";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewBagViewDataSample</h1>


@ViewData["abc"] //def


@ViewBag.HansJuergenOtto //wohnt in Stuttgart

@ViewBag.ComplexType.Test //Testausgabe

